<% if(!login) { %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="../">Library App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li id="homeLi" class="nav-item">
            <a id="home" class="nav-link" href="../">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex justify-content-end">
          <li class="nav-item nav-link">
            <a class="btn rounded btn-info" href="/users/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% } else { %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container d-flex align-items-med-center justify-content-med-center align-content-med-center">
      <a class="navbar-brand" href="../">Library App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto d-flex bg-primary align-items-md-center justify-content-md-center w-100">
          <li id="homeLi" class="nav-item">
            <a id="home" class="nav-link" href="../">Home</a>
          </li>
          <li class="nav-item dropdown lead ml-md-auto">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Welcome <%= name %></a>
            <div class="dropdown-menu">
              <a class="dropdown-item text-white bg-danger" href="/users/logout">Logout</a>
            </div>
          </li>

          <!--<li class="lead nav-item justify-self-end mt-2">Welcome <%= name %></li>-->
        </ul>
      </div>
    </div>
  </nav>
<% } %>