<title>Luxury Cars - About us</title>

<style>
  #about-container {
    height: 80vh;
    margin-top: 0;
    padding-top: 0;
    background: #f4f4f4;
  }
  .container h1 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    padding-top: 2rem;
  }

  .content {
    display: grid;
    grid-template-areas: 
    'image text-content'
    ;
    grid-gap: 2.5rem;
    margin-top: 3rem;
    height: 100%;
    width: 100%;
  }

  .content img {
    height: 340px;
    width: 460px;
    padding-left: 20px;
  }

  @media(max-width: 987px) {
    #about-container {
      height: 160vh;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-content: space-between;
    ;
    }

    .content img {
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
    }
  }

</style>

<!--start here-->
  <div id="about-container" class="container">
    <h1 class="text-center">About Us</h1>
    <div class="content">
      <img class="image center" src="../img/drew-beamer-Se7vVKzYxTI-unsplash (1).jpg" alt="about">
      <div class="text-content">
        <p>Luxury Cars was established in 2019 and since then it has been characterized by providing high quality car rental service at the best prices. The company gained a good reputation through its commitment to accuracy in time and good treatment that helped maintain permanent relationships with the best customers. Our company is one of the best car rental companies in Saudi Arabia. It is fast and accurate in times. Although we are not the only ones in this field, we are the best in offering our services by providing a range of modern and luxurious cars to government institutions and large companies at competitive prices.</p>
      </div>

    </div>
  </div>

  <script>
    const parentLi = document.getElementById('aboutLi');
    parentLi.classList.add('active');
    const about = document.getElementById('about');
    about.appendChild(`<span class="sr-only">(current)</span>`);
  </script>
