<div class="row my-4 mx-auto d-flex justify-content-center">
  <!-- first card-->
  <div class="card mb-3 col-md-4">
    <h3 class="card-header d-flex justify-content-between align-items-center">Bentley <span class="badge badge-success right">$230/hr</span></h3>
    <div class="card-body">
      <h5 class="card-title">Bentley bentayga</h5>
      <h6 class="card-subtitle text-muted">SUV</h6>
    </div>
    <img style="height: 200px; width: 100%; display: block;" src="/img/Bentley.jpg" alt="Card image">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Year: 2019</li>
      <li class="list-group-item">Milage: 2450</li>
      <li class="list-group-item">Interior: Light Brown</li>
    </ul>
    <div class="card-body">
      <a href="#" class="btn btn-info btn-block rounded card-link">Rent Now</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>

  <!-- second card-->
  <div class="card mb-3 col-md-4">
    <h3 class="card-header d-flex justify-content-between align-items-center">BMW <span class="badge badge-success right">$170/hr</span></h3>
    <div class="card-body">
      <h5 class="card-title">BMW 5 series</h5>
      <h6 class="card-subtitle text-muted">hatchback</h6>
    </div>
    <img style="height: 200px; width: 100%; display: block;" src="/img/BMW.png" alt="Card image">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Year: 2020</li>
      <li class="list-group-item">Milage: 3554</li>
      <li class="list-group-item">Interior: Black</li>
    </ul>
    <div class="card-body">
      <a href="#" class="btn btn-info btn-block rounded card-link">Rent Now</a>

    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>

  <!-- third card-->
  <div class="card mb-3 col-md-4">
    <h3 class="card-header d-flex justify-content-between align-items-center">Porsche<span class="badge badge-success right">$200/hr</span></h3>
    <div class="card-body">
      <h5 class="card-title">Porsche 911 carrera</h5>
      <h6 class="card-subtitle text-muted">Coupe</h6>
    </div>
    <img style="height: 200px; width: 100%; display: block;" src="/img/Porsche_911.jpg" alt="Card image">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Year: 2019</li>
      <li class="list-group-item">Milage: 5501</li>
      <li class="list-group-item">Interior: Red</li>
    </ul>
    <div class="card-body">
      <a href="#" class="btn btn-block btn-info rounded card-link">Rent Now</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>

  <!-- fourth card-->
  <div class="card mb-3 col-md-4">
    <h3 class="card-header d-flex justify-content-between align-items-center">Porsche<span class="badge badge-success right">$200/hr</span></h3>
    <div class="card-body">
      <h5 class="card-title">Porsche 911 carrera</h5>
      <h6 class="card-subtitle text-muted">Coupe</h6>
    </div>
    <img style="height: 200px; width: 100%; display: block;" src="/img/Porsche_911.jpg" alt="Card image">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Year: 2019</li>
      <li class="list-group-item">Milage: 5501</li>
      <li class="list-group-item">Interior: Red</li>
    </ul>
    <div class="card-body">
      <a href="#" class="btn btn-block btn-info rounded card-link">Rent Now</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>