  <div class="container mb-5">
    <h1 class="mt-4">Dashboard</h1>

    <!--Table-->
    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Status</th>
          <th scope="col">Model</th>
          <th scope="col">Start</th>
          <th scope="col">End</th>
          <th scope="col">Total payment</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><span class="badge badge-success">Active</span></th>
          <td>BMW 5 series [2019]</td>
          <td>5/5/2020</td>
          <td>7/5/2020</td>
          <td>566$</td>
          <td><i class="text-danger fa fa-times fa-2x"></i></td>
        </tr>
        <tr>
          <th scope="row"><span class="badge badge-danger">Cancelled</span></th>
          <td>Ford Mustang Shelby [2020]</td>
          <td>15/4/2020</td>
          <td>16/4/2020</td>
          <td> - </td>
        </tr>
        <tr>
          <th scope="row"> <span class="badge badge-warning">pending</span></th>
          <td>Mercedes benz S class [2019]</td>
          <td>11/5/2020</td>
          <td>20/5/2020</td>
          <td> - </td>
          <td><i class="text-danger fa fa-times fa-2x"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>