  <div class="container mb-5">
    <h1 class="mt-4">Dashboard</h1>

    <!--Table-->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Status</th>
          <th scope="col">Model</th>
          <th scope="col">Start</th>
          <th scope="col">End</th>
          <th scope="col">Total payment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><span class="badge badge-success">Active</span></th>
          <td>BMW 5 series [2019]</td>
          <td>5/5/2020</td>
          <td>7/5/2020</td>
          <td>566$</td>
        </tr>
        <tr>
          <th scope="row"><span class="badge badge-danger">Cancelled</span></th>
          <td>Ford Mustang Shelby [2020]</td>
          <td>15/4/2020</td>
          <td>16/4/2020</td>
          <td> - </td>
        </tr>
        <tr>
          <th scope="row"> <span class="badge badge-warning">pending</span></th>
          <td>Mercedes benz S class [2019]</td>
          <td>11/5/2020</td>
          <td>20/5/2020</td>
          <td> - </td>
        </tr>
      </tbody>
    </table>
  </div>

<!-- Footer -->
<footer class="page-footer font-small bg-light mt-5">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-8 mb-3">
        <h3 class="text-uppercase font-weight-bold">
          We have the car that fits you
        </h3>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

    <!-- Grid row-->
    <div class="row pb-3">

      <!-- Grid column -->
      <div class="col-md-12">

        <div class="my-3 flex flex-center text-center">

          <!-- Facebook -->
          <a href="#" class="mr-4" style="text-decoration: none;">
            <i class="fa fa-facebook fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a href="#" class="mr-4" style="text-decoration: none;">
            <i class="fa fa-twitter fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a href="#" class="mr-4" style="text-decoration: none;">
            <i class="fa fa-google-plus fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a href="#" class="mr-4" style="text-decoration: none;">
            <i class="fa fa-linkedin fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a href="#" class="mr-4" style="text-decoration: none;">
            <i class="fa fa-instagram fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a href="#" class="mr-4" style="text-decoration: none;">
            <i class="fa fa-pinterest fa-2x"> </i>
          </a>

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="../"> Luxury Cars</a>
  </div>
  <!-- Copyright -->

</footer>

  <!-- bootstrap javascript files-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
