<title>Luxury Cars - Home</title>

<style>
  h1 {
    color: #fff;
  }

  #showcase {
    height: 86vh;
    color: #fff;
    background: #333;
    position: relative;
  }

  #showcase::before {
    content: '';
    background: url(../img/showcase-img.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
  }

  #showcase .showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  #showcase .container .showcase-container .showcase-content {
    z-index: 1;
  }

  @media screen and (min-width: 320px) {
    .showcase-content {
      margin-top: 20px;
    }
  }

</style>
  <header id="showcase">
    <div class="container">
      <div class="showcase-container">
        <div class="showcase-content">
          <h1>Welcome</h1>
          <p>Rent your dream car and show the world your confidence. Our special collection of luxury cars will blow your mind and you will be pleased by the professionalism of our staff. Be a part of our success story.</p>
          <a class="btn btn-outline-light rounded mt-4" href="/users/cars">View Collection</a>
        </div>
      </div>
    </div>
  </header>

    <script>
      const parentLi = document.getElementById('homeLi');
      parentLi.classList.add('active');
      const home = document.getElementById('home');
      home.appendChild(`<span class="sr-only">(current)</span>`);
    </script>
