<title>Library App - Login</title>

<!-- CARD WITH NAV -->
<div class="mt-5">
  <div class="col-md-6 m-auto">
      <div class="card text">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="users-list" role="tablist">
            <li class="nav-item">
              <a class="nav-link font-weight-bold active" href="#member" role="tab" aria-controls="Member" aria-selected="true">Member</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold"  href="#librarian" role="tab" aria-controls="Librarian" aria-selected="false">Librarian</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" href="#system" role="tab" aria-controls="System" aria-selected="false">System</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h1 class="text-center mb-3"><i class="fa fa-sign-in"></i>  Login</h1>          
          

           <div class="tab-content mt-3">
           <div class="tab-pane active" id="member" role="tabpanel">
            <%- include('./partials/messages') %>
            <form action="/login-member" method="POST">
              <div class="form-group">
                <label for="member-id">ID</label>
                <input
                  id="member-id"
                  name="member-id"
                  class="form-control"
                  placeholder="Enter Your Member ID"
                />
              </div>
              <div class="form-group">
                <label for="member-password">Password</label>
                <input
                  type="password"
                  id="member-password"
                  name="member-password"
                  class="form-control""
                />
              </div>
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            </div>
             
            <div class="tab-pane" id="librarian" role="tabpanel" aria-labelledby="librarian-tab"> 
              <form action="/login-librarian" method="POST">
                <div class="form-group">
                  <label for="librarian-id">ID</label>
                  <input
                    id="librarian-id"
                    name="librarian-id"
                    class="form-control"
                    placeholder="Enter Librarian ID"
                  />
                </div>
                <div class="form-group">
                  <label for="librarian-password">Password</label>
                  <input
                    type="password"
                    id="librarian-password"
                    name="librarian-password"
                    class="form-control"
                  />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
              </form> 
              
            </div>
             
            <div class="tab-pane" id="system" role="tabpanel" aria-labelledby="system-tab">
              <form action="/login-system" method="POST">
                <div class="form-group">
                  <label for="system-id">ID</label>
                  <input
                    id="system-id"
                    name="system-id"
                    class="form-control"
                    placeholder="Enter System ID"
                  />
                </div>
                <div class="form-group">
                  <label for="system-password">Password</label>
                  <input
                    type="password"
                    id="system-password"
                    name="system-password"
                    class="form-control"
                  />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
              </form>
             
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<script>
  const list = document.getElementById('users-list');

</script>